einops==0.7.0
langchain==0.1.2
pip==22.0.2
python-box==7.1.1
python-dotenv==1.0.0
setuptools==59.6.0
streamlit==1.30.0
torchaudio==2.1.2+cu118
torchvision==0.16.2+cu118
transformers==4.37.0
weaviate-client==3.26.1